@import "@/styles/_config";

.ErrorDescriptionContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-direction: row;
  align-items: center;

  @include md {
    gap: 50px;
    flex-direction: column;
  }
}

.ErrorDescriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 40%;

  &.ErrorDescriptionContentWrapper {
    gap: 10px;
  }

  @include xl {
    width: 50%;
  }

  @include md {
    width: 80%;
  }

  @include xs {
    width: 100%;
  }
}

.ErrorDescriptionImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
}

.ErrorDescriptionCode {
  line-height: 2em;
  font-size: 1.2em;
  display: block;
}

.ErrorDescriptionButtonWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}
