@import "@/styles/_config";

.ErrorCodesOverviewWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ErrorCodesOverviewContainer {
  column-count: 2;
  column-gap: 150px;
  width: 100%;
  max-width: 1500px;
}

.ErrorCodesOverviewBrandContainer {
  width: 50%;
  break-inside: avoid-column;
  margin-bottom: 20px;

  @include md {
    width: 100%;
  }
}

.ErrorCodesOverviewTitle {
  margin-top: 0;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ErrorCodesOverviewCode {
  line-height: 1.5em;
  font-size: 1.1em;
  display: block;

  &:not(span) {
    text-decoration: underline;
  }
}
