@use "../config" as *;

.ContainerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Container {
  width: 100%;
  max-width: 2000px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 8rem;
  padding-left: 8rem;

  @include md {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  @include sm {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
