@use "../config" as *;

.NewsItemContainer {
  display: flex;
  justify-content: center;
}

.NewsItemWrapper {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include sm {
    gap: 20px;
  }
}

.NewsItemImageWrapper {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 5/3;
  position: relative;
}

.NewsItemWrapper {
  p,
  ul,
  ol {
    margin-top: 5px;
    margin-bottom: 1em;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors(GRAY);
    font-weight: 700;
    font-family: "lato";
    text-align: left;
    white-space: pre-wrap;
    margin: 0;
  }

  h6 {
    font-size: 1em;
  }

  h5 {
    font-size: 1.1em;

    @include xl {
      font-size: 1.05em;
    }

    @include lg {
      font-size: 1.05em;
    }

    @include sm {
      font-size: 1em;
    }
  }

  h4 {
    font-size: 1.2em;

    @include sm {
      font-size: 1.1em;
    }
  }

  h3 {
    font-size: 1.4em;

    @include xl {
      font-size: 1.2em;
    }

    @include lg {
      font-size: 1.1em;
    }

    @include sm {
      font-size: 1em;
    }
  }

  h2 {
    font-size: 1.75em;
    margin-top: 20px;

    @include xl {
      font-size: 1.5em;
    }

    @include lg {
      font-size: 1.35em;
    }

    @include sm {
      font-size: 1.2em;
    }
  }

  h1 {
    font-size: 2.3em;
    margin-top: 30px;

    @include xl {
      font-size: 2em;
    }

    @include sm {
      font-size: 1.7em;
    }
  }
}
