@use "../config" as *;

.ProductContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-direction: row;
  align-items: center;

  @include xl {
    justify-content: space-between;
  }

  @include md {
    gap: 50px;
    flex-direction: column;
  }
}

.ProductSideContainer {
  width: 40%;

  @include xl {
    width: 50%;
  }

  @include md {
    width: 80%;
  }

  @include xs {
    width: 100%;
  }
}

.ProductTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProductImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.ProductImage {
  object-fit: cover;
  border: 1px solid colors(GRAY);
}

.ProductTitleWrapper {
  display: flex;
  gap: 10px;
}

.ProductQuicklink {
  font-family: "poppins";
  font-weight: 500;
  font-style: italic;
  color: colors(LIGHTGRAY);
  text-decoration: underline;
}

.ProductPriceWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -16px;

  span {
    font-family: "lato";
    font-weight: 500;
  }
}

.ProductPrice {
  font-size: 32px;
  color: colors(RED);
}

.ProductErrorWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 20px;
}

.ProductError {
  font-size: 1.2em;
  line-height: 2em;
  display: block;

  &.ProductErrorLink {
    text-decoration: underline;
  }
}

.ProductOldPrice {
  text-decoration: line-through;
  color: colors(GRAY);
  font-size: 26px;
}
