@use "../config" as *;

.TextLink {
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.TextLinkBarContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}

.TextLinkBar {
  width: 2.5px;
  margin-top: 2px;
  background-color: colors(RED);
  align-self: stretch;
}
